*{
    margin: 0;
}

.heading-container{

    background-color: rgb(41, 53, 41);
    height: 80px;
    width: 100%;
    color:white;
    font-size: 50px;
}
img{

    width: 100px;
    float: left;   
}

.heading{

    padding-left: 100px;
    padding-top: 10px;
}

.container2{

    float: left;
    width: 50%;
    margin-top: 30px;
    margin-left: 60px;
    padding-left: 50px;
    padding-top:30px;
}
.text{
    font-size:16px;
}

.container3{

    float: right;
    width: 20%;
    height:300px;
    margin-top: 50px;
    margin-right: 200px;
    background-color:rgb(26, 24, 24);
    padding-left:30px;
    padding-top: 20px;
    border-radius: 10px;
}

.note{

    color: aliceblue;
    font-weight: normal;
}

.submit{

    background-color:rgb(236, 79, 40);
    width:250px;
    height:40px;
    color: aliceblue;
    font-size:20px;
}